
@font-face {
    font-family: 'poppinsblack';
    src: url('../components/fonts/Poppins-Black.ttf') format('woff2'),
         url('../components/fonts/Poppins-Black.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsbold';
    src: url('../components/fonts/Poppins-Bold.ttf') format('woff2'),
         url('../components/fonts/Poppins-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight';
    src: url('../components/fonts/Poppins-Light.ttf') format('woff2'),
         url('../components/fonts/Poppins-Light.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsmedium';
    src: url('../components/fonts/Poppins-Medium.ttf') format('woff2'),
         url('../components/fonts/Poppins-Medium.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsregular';
    src: url('../components/fonts/Poppins-Regular.ttf') format('woff2'),
         url('../components/fonts/Poppins-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinssemibold';
    src: url('../components/fonts/Poppins-SemiBold.ttf') format('woff2'),
         url('../components/fonts/Poppins-SemiBold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

}